<article class="bottom-space">
  <%= article_cover @article.cover.url %>
  <div class="row center-xs">
    <div class="col-xs-12 light-border col-md-7">
      <h1 class="be-big blue"><%= @article.title %></h1>
      <p class="text-right be-small">
        <%= link_to "Atras", articles_path, class:"underline" %>
        <span class="red"> <%= @article.visits_count %> visita(s)</span>
        -
        <% unless @article.user.nil? %>
            Escrito por: <%= @article.user.email %>
        <% end %>
      </p>
      <div class="text-justify">
        <%= Sanitize.fragment(@article.body, Sanitize::Config::RELAXED).html_safe %>
      </div>
      <div class="top-space">
        <%= render "articles/comments" %>
      </div>
    </div>
  </div>
</article>



<!-- 
<div class="field">
  <% @article.categories.each do |category| %>
    <%= link_to category.name, category, style:"color:#{category.color}" %>
  <% end %>
</div>

<div class="field">
  <%= image_tag @article.cover.url() %>
</div>
<p>
  Visitas:
</p>
<div>
  <%= @article.body.html_safe %>
</div>
<div class="field">
  <h3>Comentarios</h3>
  <%= render "comments/form" %>

    <ul id="comments-box">
      <% @article.comments.each do |comment| %>
        <li>
          <%= comment.body %> - <%= comment.user.email %>
        </li>
      <% end %>
    </ul>

</div>
<div>
  <%= link_to "Editar", edit_article_path(@article) %>
</div> -->